<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <style>
        .register-box {
            width: 300px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<div class="register-box">
    <h2>Регистрация</h2>

    <form method="post" th:action="@{/registration}">
        <input type="text" name="username" placeholder="Ваше имя" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Зарегистрироваться</button>
    </form>

    <p style="margin-top: 15px;">
        Уже есть аккаунт? <a th:href="@{/login}">Войти</a>
    </p>
</div>
</body>
</html>